<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<title>Register</title>

</head>

<body>
	<h3>Employee Register Page</h3>

	<form th:action="@{/employee/save}" method="POST" th:object="${employee}">
	<pre>
		
<label>Employee Name</label>
<input type="text" th:field="*{empName}" />
<label>Department</label>
<input type="text" th:field="*{empDept}" />
<label>Mobile No.</label>
<input type="number" th:field="*{empMobNum}" />
<label>Location</label>
<input type="text" th:field="*{empLocation}" />

<input type="submit" value="Register" />
	</pre>
	</form>

	<div th:if="${message != null}">
		<span th:text="${message}"></span>
	</div>
</body>

</html>